body{background: #FFFFFF;}
body,html{width: 100%; height: 100%;}

/*个人中心所有页面样式*/

.member-top{width: 100%; height:80px; background: #e4393c;}
.member-top-n{width: 1200px; margin: 0 auto; height: 100%; position: relative;}
.member-top-n h2{font-size: 24px; color: #FFFFFF;display: block;float: left;padding-top: 35px;}
.member-top-n h3{font-size: 14px; color: #FFFFFF;display: block;float: left;padding-top: 48px;margin-left:35px;}

.top-shop2{width: 180px;height: 35px;border: 1px solid red; background: #FFF;  position: absolute;	top: 25px;right: 5px;line-height: 35px;/* text-align: center;*/}

.top-shop2-icon {margin: 0px 10px 0 34px;}
.top-shop2>a {font-size: 14px;color: #333333;}
.top-shop2-count {display: inline-block;width: 10px;height: 14px;text-align: center;line-height: 14px;border-radius: 50%;	background: #FF0000;
color: #FFFFFF;}
.top-shop2-code {width: 61px;height: 61px;	position: absolute;top: 10px;right: 4px;}
.top-shop2-Keyword {width: 220px;position: absolute;top: 70px;left: 310px;}
.top-shop2-Keyword>a {margin-right: 16px;}
.top-shop2-Keyword>a:hover {color: #FF0000;}

.member-content{width: 1200px; margin: 0 auto;overflow: hidden;}
.mianbaoxie{font-size: 14px;padding-top: 20px;padding-bottom:25px;}
.member-content-nav{width: 118px;overflow: hidden;border-bottom:1px solid #eeeeee;}
.member-content-nav li{width:115px; height:40px; border-top:1px solid #eeeeee;border-left:1px solid #eeeeee; border-right:1px solid #eeeeee;
text-align: center; line-height: 40px;cursor: pointer;}
.member-content-nav .on{background:#e4393c; color: #FFFFFF;}


.member-content-left{width: 160px; float: left;}
.member-content-right{width:1000px; float: left;font-size:14px;overflow: hidden;}
.title-line{width: 100%;  height: 35px; background: #f1f1f1; line-height: 35px; font-size: 14px;font-weight: bolder;text-indent: 14px;}
.member-content-input-text{width: 100%; height: 30px;margin-top: 45px;}
.member-content-input-text span{color: #eb2c3a;}

.member-content-input-list{width: 500px;overflow: hidden; margin-top: 10px;}
.member-content-input-list span{float: left;display: block;width: 75px; text-align: right;height: 35px;line-height: 35px;margin-right: 15px;}
.member-content-input-list input{float: left; height: 35px; line-height: 35px; text-indent: 10px;border: 1px solid #cccccc;}
.select-box{float: left;width: 400px;height: 35px;}
.select-box select{width: 32%;height: 34px; line-height: 35px;border: 1px solid #cccccc;}
.member-content-input-list #member-textarea{width:382px; height: 60px; font-size: 14px; padding: 5px;border: 1px solid #cccccc;}
.inputbz{width:392px;}
.inputdxd{width:280px;}
.inputzdd{width:70px ;margin-right:10px;}

.address-list{width: 1000px;padding-top: 35px;}
.address-list-ul{width:1000px;border-bottom:1px solid #eeeeee;overflow: hidden;}
.address-list-ul .on{background: #f2f7ff;}
.address-list-ul li{width:998px; height:50px;font-size: 14px;padding-top: 15px;
border-top:1px solid #eeeeee;border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;
}
.address-list-ul li span{display: block;float: left;padding-left:10px;}
.address-list-line{background:#f2f7ff;width: 998px; height: 40px; line-height: 40px;font-weight: bolder;
border-top:1px solid #eeeeee;border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;
}
.address-list-line span{display: block;float: left;padding-left:10px;}
.span01{width:80px}
.span02{width: 170px;}
.span03{width: 240px;}
.span05{width: 125px;}
.xgsc{width: 100px;float: left;}
.xgsc dt{display: block;float: left;cursor: pointer;}

.btn-t{width:70px; height: 35px; background:#ee4240;  line-height: 35px; text-align: center; color:#FFFFFF;margin-bottom: 20px;margin-left:90px; }
.member-content-input-mr{padding-top: 15px;padding-left:90px; padding-bottom: 20px;}
.mrspan{color: #e4393c;cursor: pointer;}





/*个人中心*/
.member-content-grzx01 img{width: 80px; height: 80px;}
.member-content-input-list2{width:800px;overflow: hidden; margin-top: 10px;}
.member-content-input-list2 span{float: left;display: block;width:85px; text-align: right;height: 35px;line-height: 35px;margin-right: 15px;}
.member-content-input-list2 input{float: left; height: 35px; line-height: 35px; text-indent: 10px;border: 1px solid #cccccc;}
.member-content-input-list2 select{width:80px;height: 34px; line-height: 35px;border: 1px solid #cccccc;}
.member-content-input-list2 .select-box{float: left;width:85px;height: 35px;border: 1px solid #cccccc;line-height: 35px;font-size: 14px; text-indent: 5px;}
.member-content-input-list2-yyzz{width:320px; height: 260px;border:1px solid #f4f4f4; float: left;overflow: hidden;margin-right: 20px;margin-top: 10px;}
.member-content-input-list2-yyzz img{width:90%; margin: 0 auto;display: block;padding-top:5%;}
.member-content-input-list2-tx{width: 390px;float: left;overflow: hidden}
.txbox{width: 80px;height: 80px;overflow:hidden;float: left;}
.txbox img{width: 100%!important;}
.txbox02{width: 290px; float:left;margin-left: 20px;}
.txbox02-btn{width: 80px; height: 30px; line-height: 30px; background: #eeeeee;text-align: center!important; cursor: pointer;margin-top:10px;}
.txbox02 p{width: 100%;padding-top:10px; font-size:12px;}
.txbox02 .upload{display: none;}
.txbox02 span{display: none;}
.btn-t-member-c{margin-left:100px;margin-top:30px;cursor: pointer;}



.member-content-right-li-left{width:45px; height: 45px; float: left;}
.member-content-right-li-left img{width: 100%;display: block;}
.member-content-right-li-right{width: 935px; float: left;margin-left: 20px; border-bottom: 1px solid #EEEEEE;
padding-bottom: 20px;
}
.member-content-right-ul li{width:100%; overflow: hidden;position: relative;padding-bottom: 20px;}
.member-content-right-li-right h4{padding-bottom: 10px;}
.member-content-right-li-right a{font-size: 14px;font-weight: bold;display: block;}
.member-content-right-li-right-time{width: 160px; height: 30px;position: absolute;right: 0px;top:1px; color: #666666;}
.member-content-right-li-right span{width:300px; height: 30px;position: absolute;left:150px;top:0px; display: block;overflow: hidden;}
.member-content-right-li-right p{width: 750px;overflow: hidden;padding-bottom: 5px;}

.member-content-right-nav{padding-bottom: 30px;overflow: hidden;width: 100%;}
.member-content-right-dl{width: ;}
.member-content-right-dl dt{width: 110px; height:30px;display: block;float: left;margin-right: 30px; position: relative;}
.member-content-right-dl dt span{border-right: 1px solid #CCCCCC;height:20px;display: block;width: 100%;font-size: 16px;}
.member-content-right-dl .line{ width:78px;height: 2px;background: #ee4240;position: absolute;bottom: 0px; left: 0px; display: none;}
.member-content-right-dl .on{color:#ee4240!important;}
.member-content-right-dl .on .line{display: block!important;}





/*修改密码页面*/
.registration-center-nav2{width: 785px;  height: 79px; margin:0 auto;position: relative; margin-top: 50px;}

.registration-center-nav2-line{width:80%;position: absolute;height: 4px;top:20px; background: #eeeeee;left: 10%;}

.registration-center-nav2-list li{width:100px; height: 65px; float: left; position:absolute;top:0px;}
.registration-center-nav2-list li span{width: 40px; height: 40px; border-radius:50%;
background:#eeeeee; display: block; text-align: center; line-height: 40px; color: #393939;
margin-left:30px;}

.registration-center-nav2-list li p{font-size:16px; width: 100%; text-align: center;padding-top: 10px;}

.registration-center-nav2-list .on span{background:#e4393c; color:#FFFFFF; }
.registration-center-nav2-list .list01{left: 10px;}
.registration-center-nav2-list .list02{left: 320px;}
.registration-center-nav2-list .list03{left: 640px;}



.xxmm-box{width:420px;overflow: hidden;margin: 0 auto;padding-top: 40px; height:260px;}


.xxmm-box-list-input{overflow: hidden; margin-top:15px;position: relative;width: 100%; height:40px;}
.xxmm-box-list-input span{display: block;height:35px; font-language-override: left;width: 450px;font-weight: bolder;line-height: 35px;}
.xxmm-box-list-input h4{float: left; font-size: 14px;;line-height: 35px; width:100px;font-weight: 500;}
.xxmm-box-list-input input{border:1px solid #dddddd; width:450px; height:35px; text-indent:8px;  }
.registration-form-list-yzbtn8{position: absolute;right:10px; top: 0px; cursor: pointer;
	width:140px; height: 35px; background: #eeeeee;text-align: center;line-height: 35px; font-size: 14px;}
.registration-form-list-yzbtn8:hover{color: #FFFFFF;background: #eb2c3a;}
.registration-form-list-idyz{width:80px; height: 35px;background: #009E94;position: absolute;right:70px; top: 0px;}

.registration-form-btn{width:95px; cursor:pointer; height:35px; margin-top: 30px; background:#eb2c3a; text-align:center; line-height: 35px;font-size: 14px; margin-left:100px; color: #FFFFFF;}
.registration-form-btn:hover{background: #d40b1a;}


.ddzf01-title img{position: relative;top:-2px;width:30px;}
.ddzf01-titlezfzt{padding-bottom:6px;font-size:24px!important;color:#e4393c;}
.xxmm-box03-line{width: 100%; height: 35px;padding-top:10px;}
.xxmm-box03-line span{color: #e4393c;}
.xxmm-box03-line a{color: #447dd2;font-size: 14px;}
.xxmm-box-k{display: none;}
.xxmm-box .on{display: block!important;}
